/*css for About Page*/
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.about-heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}
.about-heading h1{
  font-size: 50px;
  color: #000;
  margin-bottom: 25px;
  position: relative;
}

.about-heading h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #e91e63;
}
.about-heading p{
  font-size: 18px;
  color: #666;
  margin-bottom: 35px;
}
.about-container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-image {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}
.about-image img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
  border-radius: 10px;
}
.about-image:hover img {
  transform: scale(1.2);
}
.about-content {
  flex: 1;
}
.about-content h2 {
  font-size: 23px;
  margin-bottom: 15px;
  color: #333;
}
.about-content p{
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}
@media screen and (max-width: 768px) {
  .about-heading {
    padding: 0px 20px;
  }
  .about-heading h1 {
    font-size: 36px;
  }
  .about-heading p{
    font-size: 17px;
    margin-bottom: 0px;
  }
  .about-container{
    padding: 0px;
  }
  .about {
    padding: 20px;
    flex-direction: column;
  }
  .about-image {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .about-content {
    padding: 0px;
    font-size: 16px;
  }
  .about-container-comm{
    padding: 0px;
  }
  .about-image-comm {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .about-content-comm {
    padding: 0px;
    font-size: 16px;
  }
}
 
.about-image-comm {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
  margin-top: 16px;
}
.about-image-comm img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
  border-radius: 10px;
}
.about-image-comm:hover img {
  transform: scale(1.2);
}
.about-content-comm {
  flex: 1;
  width: 600px;
  margin: 0px 25px;

}
.about-content-comm h2 {
  font-size: 23px;
  margin-bottom: 15px;
  color: #333;
}
.about-content-comm p{
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}
.about-container-comm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 65px auto;
}
.about-content h2::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #e91e63;
}
.about-content-comm h2::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #e91e63;
}